@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  background: #EEEEEE;
}
.navbar-toggler:focus {
  box-shadow: none !important;
  border: none !important;
}
.navbar-expand-lg {
   margin-top: 18px;
 }
 .table-bg-gray {
background: #EEEEEE;
margin-bottom: 50px;
border: 2px solid #CDCDCD;
padding: 50px;
}
  
.navbar-toggler {
  border: none !important;
}
.nav-link {
  font-weight: 600;
  color: #006532 !important;
  padding: 0 25px !important;
  font-size: 16px;
}
.logo-img {
  width: 180px;
}
.logout-usr-btn {
  border: 2px solid #026634;
  background: #026634;
  border-radius: 30px;
  outline: 0;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 6px 22px;
  font-family: inherit;
  cursor: pointer;
  transition: 0.3s linear;
  color: #fff;
  font-weight: 600;
}
.logout-usr-btn:hover {
  background: #fff;
  border-color: #026634;
  color: #026634;
}

.sub-title h2 {
    font-size: 36px;
    text-align: right;
    color: #006532;
    margin: 50px 0;
    font-weight: 600;
  }
  .copyright-bd {
    padding: 30px 0;
  }
  .bd-copy p {
    color: #8A8787;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 70px;
  }

  /* Landing Page - Open RFP  */
  .open-bg-white {
    background: #fff;
    padding: 50px;
    height: 390px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 300px;
  }
    .open-bg-white h2 {
    font-size: 27px;
    font-weight: 600;
    color: #006532;
    margin-bottom: 20px;
  }
  .open-bg-white h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 25px;
  }
  .open-bg-white h3 {
    font-size: 15px;
    font-weight: 600;
    display: inline-flex;
    margin-bottom: 0;
  }
  .open-bg-white p {
    font-size: 15px;
    font-weight: 400;
    padding-left: 5px;
  }
  .open-access-btn{
    border: 2px solid #026634;
      background: transparent;
      border-radius: 5px;
      outline: 0;
      font-size: 18px;
      text-decoration: none;
      padding: 6px 22px;
      font-family: inherit;
      cursor: pointer;
      transition: 0.3s linear;
      color: #026634;
      font-weight: 600;
  }
  .open-access-btn:hover {
    transition: .3s;
      background: #fff;
      border-color: #026634;
      color: #026634;
    }
    .open-text {
  width: 71%;
}

/* Landing Page - Respond Page  */
.single-respond-box {
	display: flex;
	justify-content: space-between;
	padding: 10px 35px;
	border-bottom: 2px solid #CDCDCD;
	align-items: center;
}
.respond-btn {
  background: #fff;
	border-color: #026634;
	color: #026634;
	border-radius: 3px;
	outline: 0;
	font-size: 18px;
	text-decoration: none;
	padding: 6px 22px;
	font-family: inherit;
	cursor: pointer;
	transition: 0.3s linear;

	font-weight: 600;
}
.respond-btn:hover {
	background: #fff;
	border-color: #026634;
	color: #026634;
}
.respond-wrapp {
	border: 2px solid #CDCDCD;
	padding: 0;
}
.respond-bg-white{
  background: #fff;
  border-bottom: 2px solid #CDCDCD;
  padding: 10px 35px;
}
.repond-text p {
	font-size: 20px;
	font-weight: 400;
	color: #000;
	margin-bottom: 0;
}
.single-open-box.single-response-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 35px;
}
.respond a {
	color: #0C4A7C;
	text-decoration: none;
	font-size: 20px;
	font-weight: 400;
}
/* body*/
.justify-content-between {
	justify-content: space-between !important;
	align-items: center;
}
.btn {
	background: #006532;
	padding: 13px 20px;
	border-radius: 0;
	color: #fff;
}
.fa-chevron-left {
	margin-right: 10px;
}
.open-text ul li {
	list-style: none;
	margin-left: -30px;
}
.green-btn {
	background: #006532;
  border: 1px solid #006532;
	padding: 14px 20px;
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	margin-right: 25px;
}
.green-btn:hover{
  background: transparent;
  border: 1px solid #006532;
  color: #000;
}
.red-btn {
	background: #A30026;
  border: 1px solid #A30026;
	padding: 14px 20px;
	color: #fff;
	text-decoration: none;
	font-weight: 500;
}
.red-btn:hover{
  background: transparent;
  border: 1px solid #A30026;
  color: #000;
}
.fa-check {
	margin-right: 10px;
}
.fa-times {
	margin-right: 10px;
}
.open-text ul {
	margin-bottom: 35px;
}